.vscode/
.alcache/
.alpackages/
.snapshots/
.output/
*.app
rad.json
*.g.xlf
*.flf
TestResults.xml

**/target/
**/bin/
**/build/
**/.gradle/
**/out/
**/*.class
**/node_modules/
**/.idea/
**/.vscode/
*.iml
.DS_Store


**/.gradle/

/*
!.gitignore
!LICENSE
!README.md
!loginstudy/
!loginstudy/**

loginstudy/auth-server/keys/
loginstudy/auth-server/keys/**
loginstudy/docker/.env.example
loginstudy/docker/**/*.md
loginstudy/docs/**/*.md
loginstudy/gradle/
loginstudy/gradle/**
loginstudy/scripts/**/*.ps1
loginstudy/docker/redis/**

**/out/
**/*.class
**/node_modules/
**/.idea/
**/.vscode/
*.iml
.DS_Store